@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Josefin+Sans:ital,wght@0,100;0,400;0,600;0,700;1,100&display=swap');
*{
    margin: 0;
    padding:0;
}

/*               HEADER                */

.header{
    background-color: plum;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    
}
.nav-item{
    padding: 0 10px;
}
.nav-link{
    position: relative;
}
.logo{
    width: 200px;
}

/*              MAIN                */


body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.banner__text{
    text-align: center;
    margin: 30px 200px;
}
.lo-nuevo__section, .ayd__section{
    padding-left: 10%;
}
.lo-nuevo__section__title{
    margin-top: 5%;
    margin-bottom: 30px;
}
.card{
    width: 15%;
    height: fit-content;
    margin-left: 20px;
    margin-bottom: 50px;
    display: inline-block;
}
.card-img-top{
    padding-top: 10px;
    border-radius: 5px;
}
.card__rate{
    padding-bottom: 5px;
    padding-top: 0;
}
.card__image{
    height: 400px;
    width: 100%;
}
.card__text{
    margin: 5%;
}
.card__title{
    font-family: 'Alef', sans-serif;
    font-weight: 700;
}
.card__description{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1;
}
.card__button{
    line-height: 5;
    padding: 5%;
    background-color: blueviolet;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}
.btn, .btn-purple{
    background-color: blueviolet;
    color: white;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.btn__nav{
    border: none;
    background-color: plum;
    padding: 10px;
    align-items: center;
}

.btn-submit{
    padding-top: 5px;
    padding-bottom: 5px;
}
.article{
    display: table;
margin: 80px;
}
.article__content{
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    line-height: 2;
}
.article__image{
    width: 500px;
    max-height: 300px;
}
.article__text{
    width: 500px;
}
.dropdown__link, .dropdown-item{
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
.filter__title, .filter__button{
    display: inline;
    margin-left: 1070px;
    margin-top: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
.filter__button{
    border: none;
    background-color: white;
    margin-left: 10px;
}
.filters{
    line-height: 4;
    margin-left: 80px;
}
.BS{
    border: solid;
}
aside{
    float: left;
}
.product-section{
    margin-left: 400px;
}
.cargar__button{
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    margin-left: 800px;
    border: none;
}
.cargar__text{
    text-align: center;
    margin-left: 250px;
}
.contact-form{
    text-align: justify;
    margin-bottom: 50px;
}
.contact__section{
    justify-content: center;
}
.form{
    margin: 100px;
}
.input, .label{
    display: table-cell;
}
.input{
    width: 400px;
}

/*              FOOTER              */

.footer{


    background-color: plum;
    font-size: 18px;

}
.footer__style{
    background-color: plum;
}
h4{
    font-size: 12px;
}
.logo, .footer__links-ayuda, .footer__links-despachos, .footer__form{

    vertical-align: top;
    }
.form-control{
    margin-bottom: 5px;
}

/*              ANIMACIONES                */
.nav-link:after{
    content: "";
    position: absolute;
    background-color: blueviolet;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
    }
.nav-link:hover:after{
    width: 100%;
}


.wrapper{
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.wrapper__image{
    display: block;
    width: 100%;
    height: auto;
}
.wrapper__content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 74px;
}
.wrapper__content span{
    font-size: 24px;
    display: block;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5 ease;
    background-color: #0f0f0f;
}
.wrapper:hover .overlay{
    opacity: 70%;
}