%boton-primario{
        background-color: $secondary-color;
        color: white;
        justify-content: center;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        border-radius: 5px;
        border: none;
        padding: 10px;
}