.header{
    background-color: $main-color;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    
}
.logo{
    width: 200px;
}
.nav-item{
    padding: 0 10px;
    .nav-link{
    position: relative;
    }
}
.nav-btn{
    border: none;
    background-color: $main-color;
    padding: 10px;
    align-items: center;
}
