.header{
    background-color: $main-color;
    @include font ('Josefin Sans', 36px, 600);
}
.logo{
    width: 200px;
}
.nav-item{
    padding: 0 10px;
    .nav-link{
    position: relative;
    }
}
.nav-btn{
    border: none;
    background-color: $main-color;
    padding: 10px;
    align-items: center;
}
