body{
    @include font ($text-font: 'Josefin Sans', $text-weight: 600);

    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
}


.banner__text{
    text-align: center;
    margin: 30px 200px;
}

.lo-nuevo__section, .ayd__section{
    padding-left: 10%;
}

.lo-nuevo__section__title{
    margin-top: 5%;
    margin-bottom: 30px;
}


.card{
    width: 15%;
    height: fit-content;
    margin-left: 20px;
    margin-bottom: 50px;
    display: inline-block;
    .card-img-top{
        padding-top: 10px;
        border-radius: 5px;
    }
    .card__rate{
        padding-bottom: 5px;
        padding-top: 0;
    }
    .card__image{
        height: 400px;
        width: 100%;
    }
    .card__text{
        margin: 5%;
    }
    .card__title{
        @include font ($text-font: 'Alef', $text-weight:700);
    }
    .card__description{
        @include font ($text-font: 'Josefin Sans', $text-weight:600);
        line-height: 1;
    }
}




.article{
    display: table;
    margin: 80px;
    .article__content{
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    line-height: 2;
}
    .article__image{
    width: 500px;
    max-height: 300px;
}
    .article__text{
    width: 500px;
}
}

.dropdown__link, .dropdown-item{
    text-decoration: none;
    color: black;
}

.filter__title{
    display: inline;
    margin-left: 1070px;
}

.contact-form{
    text-align: justify;
    margin-bottom: 50px;
    .contact__section{
        justify-content: center;
    }
}


