body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
  }
  
  body ul {
    list-style: none;
  }
  
  body a {
    text-decoration: none;
  }

  h3{
    margin-left: 15px;
  }
  
  .accordion, .accordion-item, .accordion-header, .accordion-body{
    font-family:'Josefin Sans', sans-serif ;
    font-weight: 400;
  }


.filter-color{
  color: black;
}


  .banner__text {
    text-align: center;
    margin: 80px 200px;
  }
  
  .lo-nuevo__section, .ayd__section {
    padding-left: 10%;
  }
  
  .lo-nuevo__section__title {
    margin-top: 5%;
    margin-bottom: 30px;
  }
  
  .card {
    width: 15%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 20px;
    margin-bottom: 50px;
    display: inline-block;
  }
  
  .card .card-img-top {
    padding-top: 10px;
    border-radius: 5px;
  }
  
  .card .card__rate {
    padding-bottom: 5px;
    padding-top: 0;
  }
  
  .card .card__image {
    height: 400px;
    width: 100%;
  }
  
  .card .card__text {
    margin: 5%;
  }
  
  .card .card__title {
    font-family: 'Alef', sans-serif;
    font-weight: 700;
  }
  
  .card .card__description {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1;
  }
  
  .article {
    display: table;
    margin: 80px;
  }
  
  .article .article__content {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    line-height: 2;
  }
  
  .article .article__image {
    width: 500px;
    max-height: 300px;
  }
  
  .article__image {
    border-radius: 5px;
  }
  
  .article .article__text {
    width: 500px;
  }
  
  .dropdown__link, .dropdown-item {
    text-decoration: none;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
  }
  
  .filter__title {
    display: inline;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
  }
  
  .filtro-ordenar{
    margin-right: 170px;
  }
  .contact-form {
    text-align: justify;
    margin-bottom: 50px;
  }
  
  .contact-form .contact__section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }